 <div class="container">
   <div class="row">
      <div class="col text-center">
         <img src="img/chocolate.jpg" alt="drink" class="img-thumbnail
         rounded-circle" width="150" />
         <h1 class="display-4">Saskia Karmila</h1>
         <p class="lead">Lecturer | Content Creator</p>
      </div>
   </div>
 </div>
